@{
  Layout = "_Layout";
}
<div class="container">
  <h2>Welcome!  Create your village here </h2>
  <div class="well">
    <p><a href="family/create">Create your Family profile</a></p>
    <p><a href="/caregivers">View caregivers in your Village<a></p><br>
    <p><a href="/caregivers/new">Add New caregiver to your Village<a></p>
    <p><a href="/child">View your children<a></p><br>
    <p><a href="/child/create">Add New child<a></p>
  </div>
</div>