@{
  Layout = "_LayoutNoNav";
}

<div class="container">
  <div class = "row">
    <div class = "col-md-2">
      <br/>
    </div>
    <div class = "col-md-5">
      <img src='~/img/logo.png' alt="YourVillage Logo" height="400px" width="400px" class="logo">
    </div>
    <div class = "col-md-3">
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <h4><a href='/info'>What is YourVillage?</a></h4>
      <br/>
      <h4><a href='/account/login'>Login to YourVillage</a></h4>
    </div>
  </div>
</div>