@{
  Layout = "_LayoutNoNav";
}
<div class = "row">
  <div class = "col-md-2">
    <br/>
  </div>
  <div class = "col-md-4">
    <img src='~/img/logo.png' alt="YourVillage Logo" height="400px" width="400px" class="logo">
  </div>
  <div class = "col-md-5">
    <br/>
        <br/>
            <br/>
                <br/>
                    <br/>
    <h4>Welcome to YourVillage!</h4>
    <ul>
      <li>YourVillage is a place to connect and care.</li>
      <li>  In YourVillage, you can create a profile for your family and your children.</li>
      <li>    Then, add trusted caregivers to YourVillage.</li>
      <li>      Share information easily between all caregivers.</li>
      <li>Rest easy knowing that you don't have to rememer every detail, every time!</li>
      <li><b>We know it takes a village, and we're here to help you build yours!</b></li>
    </ul>
  </div>
</div>

<div class = "row">
  <div class = "col-md-2"><br/></div>
  <div class = "col-md-4">
    <h5>Already a member of YourVillage?</h5>
    <p><a href='/account/login'>Log In</a></p>
  </div>
  <div class = "col-md-4">
    <h5>Or ready to get started building YourVillage?</h5>
    <p><a href='/account/register'>Create An Account</a></p>
  </div>
</div>